h1, h3{
    color: #e1e1e6;
}

.body{
    margin-top: 50px;
    background-image: linear-gradient(to right, #272727, black);
    color: #a8a8b3;
}
.name{
    display: block;
    font-family: 'Montserrat', Arial, sans-serif;
    text-align: center;
}
.description{
    margin: 8% 18% 80px 0px;
    float: right;
    display: block;
    max-width: 800px;
    line-height: 21px;
    font-style: italic;
    font-family: 'Arial', sans-serif;
    font-weight: 600;
}
.picture{
    margin: 50px 0px 2% 21%;
    padding: 11px;
    float: left;
    display: block;
    width: 250px;
    border: 10px solid #00ff00;
    border-radius: 50%;
}
.link{
    text-decoration: none;
    color: #fff;
}

.button{
    color: black;
    display: block;
    width: 230px;
    background-color: #00ff00;
    padding: 20px 44px;
    border-radius: 10px;
}

.name-descrip{
    min-width: 900px;
}

.under-name-descrip{
    clear: both;
}

li:nth-of-type(2n+1){
    font-style: italic;
}

.header{
    min-height: 200px;
}    